section.dev{
    @include sectionHeader();
    @include sectionPadding();

    div.dev-container{

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-bottom: 30px;

        img{
            width: 100%;
            aspect-ratio: 0.8 / 1;
            border-radius: 8px;
            border: 1px solid $line;
            box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3);
        }

        div.content-container{

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;

            h3{
                @include font-title();
                color: white;
                font-size: 26px;
                font-weight: 600;
                text-align: center;
            }

            p{
                @include font-text();
                font-weight: 300;
                color: $muted;
                text-align: justify;
            }
        }
    }

    div.contact-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

        a{
            @include resetTextDecorations();
            
            button.talk-with-me-button{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 14px;
                font-size: 16px;
                background-color: transparent;
                border: 1px solid $line;
                border-radius: 50px;
                color: $muted;
                transition: 0.3s ease;
                cursor: pointer;

                img{
                    width: 14px;
                }

                &:hover{
                    border: 1px solid white;
                }

                &:active{
                    border: 1px solid $line;
                }
            }

            button.pay-coffee-button{
                @include highlightButton(16px, 50px);
            }
        }
    }

    @media (min-width: 1200px){

    div.dev-container{
            img{
                width: 60%;
                align-self: center;
                justify-self: center;
            }
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 60px;
        }
        div.contact-container{
            grid-template-columns: repeat(2, 1fr)
        }
    }
}

/*

<div class="dev-container">
    <img src="../img/dev/Pierry.png" alt="Pierry Savio">

    <div class="content-container">
        <h3>Pierry Savio</h3>
        <p>Oi! Sou o criador deste projeto. O Picode surgiu como uma simples ideia de manter textos, senhas e arquivos confidenciais
            mais seguros. Pensei em usar alguma cifra já existente, mas havia um grande problema nisso - alguém poderia decodificá-la.
            Então senti a necessidade de criar o Picode, minha própria cifra. Utilizando a PID (chave única de codificação), é possível
            criar codificações únicas que só poderão ser decifradas com a respectiva chave.
            <br>
            Se esse projeto te agradou ou te ajudou de alguma forma, considere deixar um café ou me mandar uma mensagem.
            <br>
            Obrigado!
        </p>

        <div class="contact-container">
            <button class="talk-with-me-button">Falar comigo</button>
            <button class="pay-coffee-button">☕ Pagar um café</button>
        </div>
    </div>
</div>

*/

