*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

// ===== IMPORTS =====
@import 'colors';
@import 'functions';
@import 'fonts';
//Header
@import 'header-mobile';
@import 'header-pc';
//Sections
@import './sections/hero';
@import './sections/encoder';
@import './sections/decoder';
@import './sections/generate_pid';
@import './sections/dev';

div.line{
    background-color: transparent;
    border-bottom: 1px solid $line;
    width: 100%;
    height: 0;
}

span.highlight{
    color: $magenta;
}

body{
    padding-left: 0;
    background-color: $bg;
    background-image: linear-gradient(135deg, rgba($magenta, 0.08), rgba($cyan, 0.05));
    min-height: 100vh;
    height: fit-content;
    background-size: cover;

    @media (min-width: 1200px){
        padding: 60px 60px 60px 310px;
    }
}